<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>管理系统</title>

    {% include 'basic/base_css.html' %}

</head>
<body>

<section id="container">

    <!--header-->

    <header class="header" style="background-color:mediumseagreen;">
    <div class="row">
        <div class="col-xs-1" style="margin-top: 20px">
            <a href="/index/" class="fa fa-user fa-2x" style="color: floralwhite"></a>
        </div>
        <div class="col-xs-8 col-xs-offset-1" style="padding: 15px 0 0 0;">
            <input type="text" class="form-control round-form">
        </div>
        <div class="col-xs-1 col-xs-offset-1"style="margin-top: 20px">
            <a href="/login/" class="fa fa-ellipsis-v fa-2x" style="color: floralwhite;"></a>
        </div>
    </div>
    </header>
    <!--logo start-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->

    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="list-group-item">

                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->

    <!--footer end-->

</section>

{% include 'basic/base_js.html' %}

{% block js %}

{% endblock %}

</body>
</html>


