<script src="/static/js/jquery.js"></script>


<!-- bootstrap-table -->
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>


<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>
<script src="/static/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/static/js/jquery.sparkline.js"></script>
<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>

<!--common script for all pages-->
<script src="/static/js/common-scripts.js"></script>

<script type="text/javascript" src="/static/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/static/js/gritter-conf.js"></script>
<script src="/static/laydate/laydate.js"></script>
<script>
    //custom select box

    $(function () {
        $("select.styled").customSelect();
    });

</script>


<!-- bootstrap-table xlsx -->
<script src="/static/table/js/FileSaver.min.js"></script>
<script src="/static/table/js/xlsx.core.min.js"></script>
<script src="/static/table/js/tableExport.min.js"></script>
<script src="/static/table/js/bootstrap-table-export.js"></script>