<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="/static/css/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/static/css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.gritter.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/lineicons/style.css">

<!-- Custom styles for this template -->
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/style-responsive.css" rel="stylesheet">


<link href="/static/table/css/bootstrap-table.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

