{% extends 'basic/base.html' %}

{% block css %}

{% endblock %}
{% block title %}管理系统{% endblock %}
{% block main_content %}
    <div style="padding: 10px">

        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->


        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->

        {#          <section style="background: url('/static/img/wallhaven-y47kyn.jpg');background-repeat: no-repeat;#}
        {#  background-attachment: fixed;background-size :cover;" class="wrapper site-min-height">#}
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> 后台主页</h3>
            <hr>


        </section>
        <! --/wrapper -->


    </div>
{% endblock %}


{% block js %}
    <!--script for this page-->
    <script src="/static/js/sparkline-chart.js"></script>
    <script src="/static/js/zabuto_calendar.js"></script>

    <script type="application/javascript"></script>

{% endblock %}
